@import '../headlineGame.css';

.hockey-home-topHeadlines-container {
  position: relative;
  left: 70vw;
  width: 23vw;
  height: 35vh;
  background-color: var(--color-whiteBackground);
  border-radius: 8px;
  margin-left: 0.5vw;
  box-shadow: 5px 5px 15px 2px var(--color-grayText);
}

.hockey-home-headlineGame-container {
  position: relative;
  bottom: 41vh;
  left: 29vw;
  margin-top: 1vh;
}
