@import './navbar.css';
@import './headlines.css';
@import './videoCard.css';
@import './gameCard.css';

.home-container {
  width: 100vw;
  height: fit-content;
  background-color: var(--color-lightGray);
}
