@import './navbar.css';
@import './topHeadlines.css';
@import './videoCard.css';
@import './headlineGame.css';

.home-container {
  width: 100vw;
  height: fit-content;
  background-color: var(--color-lightGray);
}

.home-headlines-container {
  position: relative;
  left: 70vw;
  width: fit-content;
}
