@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap'); /* Sintony font-family import from Google fonts */

.teams-container {
  height: fit-content;
}

.teams-container h3 {
  font-size: 1vw;
  position: relative;
  left: 15vw;
  text-align: center;
  width: 50vw;
}

.roster-table {
  width: 50vw;
  position: relative;
  left: 15vw;
  background-color: var(--color-whiteBackground);
  border-spacing: 0;
  margin-bottom: 7.5vh;
}

.roster-table tr > th {
  background-color: black;
  color: white;
  line-height: 3vh;
  font-size: 0.7vw;
}

.shaded {
  width: 20vw;
}

.roster-table-data td {
  font-size: 0.6vw;
  font-family: 'Sintony', sans-serif;
  text-align: center;
  line-height: 0vh;
  border-bottom: 0.5px solid var(--color-grayText);
}

.roster-table-data .left {
  text-align: left;
}

/* Styling for the shaded area on table which includes the profile pic and player name */
.roster-table-data a {
  text-decoration: none;
  color: black;
  background-color: var(--color-lightGray);
  padding: 1vh 0.2vw;
}

/* Styling for the profile pic */
.roster-table img {
  width: 2.8vw;
  height: 5vh;
  border-radius: 50%;
  margin-right: 0.5vw;
}

.teams-container select {
  margin-right: 2vw;
  margin-bottom: 3vw;
  width: 15vw;
}

.teams-container h3 {
  color: orangered;
}

.player-img-name {
  display: flex;
  align-items: center;
}

#team-logo {
  height: 15vh;
  width: 10vw;
}
