@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap'); /* Sintony font-family import from Google fonts */

.teams-container {
  background-color: black;
  height: fit-content;
}

.roster-table {
  width: 50vw;
  position: relative;
  left: 15vw;
  background-color: var(--color-whiteBackground);
  border-spacing: 0;
}

.roster-table tr > th {
  background-color: black;
  color: white;
}

.roster-table-data td {
  font-size: 0.75vw;
  font-family: 'Sintony', sans-serif;
  text-align: center;
  line-height: 3.5vh;
  border-bottom: 0.5px solid var(--color-grayText);
}

.roster-table-data .left {
  text-align: left;
}

/* Styling for the shaded area on table which includes the profile pic and player name */
.roster-table-data a {
  text-decoration: none;
  color: black;
  background-color: var(--color-lightGray);
  /* border-bottom: 0.5px solid var(--color-grayText); */
}

.roster-table-data a td {
  /* border-bottom: 4px solid green; */
}

/* Styling for the profile pic */
.roster-table a > img {
  width: 3vw;
  border-radius: 50%;
  border: 2px solid orangered;
  margin-right: 0.5vw;
}

.teams-container select {
  margin-right: 2vw;
  margin-bottom: 3vw;
  width: 15vw;
}

.teams-container h3 {
  color: orangered;
}

.player-img-name {
  display: flex;
  align-items: center;
}
