.topHeadlines-container {
  width: 23vw;
  height: 35vh;
  background-color: var(--color-whiteBackground);
  border-radius: 8px;
  margin-left: 0.5vw;
}

.topHeadlines-container > h1 {
  padding-top: 1vh;
  padding-left: 1vw;
  font-size: 0.8vw;
  font-weight: 400;
}

.topHeadlines {
  padding-left: 1vw;
  margin-top: 0.5vh;
}

.topHeadlines > li > a {
  font-size: 0.8vw;
  text-decoration: none;
  color: var(--color-greyText);
  font-weight: 300;
}

.topHeadlines > li {
  list-style: disc;
}

li::marker {
  font-size: 1vw;
}
